src/main/resources/META-INF/route.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://bridge.glmapper.com/schema/route"
            targetNamespace="http://bridge.glmapper.com/schema/route">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:complexType name="routeType">
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="prefix" type="xsd:string" use="required"/>
        <xsd:attribute name="route" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:element name="route" type="routeType"/>

    <xsd:complexType name="redisType">
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="host" type="xsd:string" use="required"/>
        <xsd:attribute name="port" type="xsd:int"/>
        <xsd:attribute name="password" type="xsd:string"/>
        <xsd:attribute name="timeout" type="xsd:int"/>
        <xsd:attribute name="period" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="registryType">

    </xsd:complexType>

    <xsd:element name="registry" type="redisType">
    </xsd:element>

    <xsd:element name="discover" type="redisType">
    </xsd:element>

</xsd:schema>
